<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Visionneuse Carton</title>
</head>
<body>

	<div id="Visionneuse">
		<div v-if="carton">
			<div id="titre">
				<h2>{{carton.nom}}</h2>
				<p>version: {{currentVersion}}</p>
				<span>
					<button v-on:click="modify(carton)">Editer</button>
				</span>
				<button v-if="carton.parent" v-on:click="getCarton(carton.parent, 0)">retour</button>
			</div>

			<carton-volet titre="C'est quoi?" v-bind:texte="carton.versions[currentVersion].quoi_texte"></carton-volet>
			<div v-for="cartonQuoi in carton.versions[currentVersion].quoi_cartons">
				<button v-on:click="getCarton(cartonQuoi._id, 0)">{{cartonQuoi.nom}}</button>
			</div>

			<carton-volet titre="Ca fait quoi?" v-bind:texte="carton.versions[currentVersion].fonction_texte"></carton-volet>
			<div v-for="cartonFonction in carton.versions[currentVersion].fonction_cartons">
				<button v-on:click="getCarton(cartonFonction._id, 0)">{{cartonFonction.nom}}</button>
			</div>

			<carton-volet titre="Ca le fait comment?" v-bind:texte="carton.versions[currentVersion].comment_texte"></carton-volet>
			<div v-for="cartonComment in carton.versions[currentVersion].comment_cartons">
				<button v-on:click="getCarton(cartonComment._id, 0)">{{cartonComment.nom}}</button>
			</div>
		</div>

		<button v-if="!carton" v-on:click="getCarton('5ed7f15ae09a470019384f29', 0)">GetCarton Ordinateur</button>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
	
	var app = new Vue({
		el: '#Visionneuse',
		data: {
			carton: null,
			currentVersion: null,
		},
		methods: {
			getCarton: function (id, version) {
				fetch("http://54.37.229.17:8000/cartons/get", {
					method: "POST",
					headers: {
						"content-type": "application/json",
					},
					body: JSON.stringify({
						id: id,
						sous_carton: true,
					}),
				})
				.then((response) => {
					response.json().then((carton) => {
						app.carton = carton;
						app.currentVersion = version;
					});
				})
				.catch((err) => {
					console.log(err);
				});
			},
			modify: function (carton) {
				let new_title = prompt("modifier le titre", carton.nom);
				if (new_title !== carton.nom && new_title) {
					carton.nom = new_title;
					fetch("http://54.37.229.17:8000/cartons/update", {
						method: "POST",
						headers: {
							"content-type": "application/json",
						},
						body: JSON.stringify({
							id: carton._id,
							update: carton,
							sous_carton: true,
						}),
					})
					.then((response) => {
						response.json().then((carton) => {
							app.carton.nom = carton.nom;
						});
					})
					.catch((err) => {
						console.log(err);
					});
				}
			},
		}
	})

	Vue.component('carton-volet', {
		props: {
			titre: {
				type: String,
				required: true,
			},
			texte: {
				type: String,
			}
		},
		data: function () {
			return {
				txt: "quoi",
			}
		},
		template: '<div class="volet">\
						<h3>{{titre}}</h3>\
						<p>{{texte}}</p>\
					</div>' //TODO: Inserer un component sous-carton ici	
	})

	</script>
</body>
</html>